

.image-area img{
    width:100%;

}

a{
    text-decoration: none;
    color:#dfdfdf;
}


#logo img{
    width: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

}

body{
    background-image:url('http://wallpaperus.org/wallpapers/05/206/gaussian-blur-1920x1080-wallpaper-882319.jpg');
    color:#dfdfdf;
}
header{
    /*
    border-bottom-color: #dfdfdf;
    border-bottom-style: solid;
    border-width: 1px;
    */
}

nav ul{
    float: right;
    margin-bottom: 0px;
    margin-top: 0;
}
nav ul li{    
    display: inline-block;
    
    margin-right: 20px;
    margin-left: 20px;
    
}

nav ul li a{
    display:block;
    padding-bottom: 23px;
    padding-top: 30px;
}

nav ul li.active {
    border-bottom:#dfdfdf;
    border-bottom-style: solid;
    border-width:3px;
}

nav ul li:hover {
    border-bottom:#fff;
    border-bottom-style: solid;
    border-width:3px;

}

.post-content{
    
    border-radius:5px;
    padding:15px;
    background-color:rgba(0,0,0,0.2);
}

section {
    margin-top:20px;
}

footer{
    margin-top:30px;
    /*
    border-top-color: #dfdfdf;
    border-top-style: solid;
    border-width: 1px;
    */
}

