body{
	background:rgba(0,125,207,.1);
	color: rgba(0,0,0,0.6);
}

.project{
	background:rgba(255,255,255,0.7);
	margin-bottom:30px;
}

.media-body{
	padding:10px;
	padding-top:0px;
	font-size:13px;
}

.project-image{
	width:100%;
}

.project{
	border-radius:5px;
}

.media-head{
	padding:5px;
	padding-left:10px;
}